.barra-azul{
    height: 25px;
    background-color: var(--azul-marinho);
}

.navbar{
    max-width: 1320px;
    margin: auto;
}

#navbarPrincipalComprimido > ul{
    justify-content: space-around;
    flex-grow: 1;
}

.logo{
    display: flex;
}

.navbarSecundaria{
    width: 100%;
    background-color: var(--azul-marinho);
}

.navbarSecundaria .nav-item{
    padding: 5px;
    flex-grow: 1;
    line-height: 2.2em;
}

.navbarSecundaria .nav-link{
    color: white;
    padding: 0;
    flex-grow: 1;
}

.navbarSecundaria ul.nav{
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    max-width: 800px;
}

.navbarSecundaria .nav-pills .nav-link.active{
    background-color: var(--verde-agua);
}

.navbarSecundaria .nav-pills .nav-link:hover{
    background-color: var(--verde-agua);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{
    color: var(--azul-marinho);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
}

.navbarCategoria .navbar{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.navbarCategoria{
    background-color: var(--verde-agua);
}

.navbarCategoria .navbar-nav{
    padding: 0px 10px;
    justify-content: space-between;
    width: 100%;
}

.navbarCategoria .nav-link{
    color: white;
}

@media screen and (max-width:600px){
    .navbarSecundaria .nav-link{
        font-size: 0.8em;
    }
}